debug.js
test.js
build.js
api-vsce.js
check-vsce.js
just-vsce.js
run-vsce.bat
build-check.js
package.json.bak
tscerr.log
tscout.log
vsce_err.log
vsce_full.log
vsce_help.log
vsce_stderr.log
vsce_stdout.log
vsceerr.log
vscelog.err
vscelog.out
vscelog.txt
vsceout.log
.vscode/**
node_modules/**
.gitignore
**/*.log
